@import './../../../../../sass/config/mixins';
.about-container {
    height: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8%;
    // padding-bottom: 1%;
    // background-image: url("https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_960_720.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    @include media(desktop) {
        background: none;
    }
    .photo {
        display: none;
        @include media(desktop) {
            // display: block;
            // background-image: url("https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_960_720.jpg");
            // background-size: cover;
            // background-repeat: no-repeat;
            // width: 50%;
            // height: 60vh;
        }
    }
    .card {
        // background-color: #ffffff;
        // padding: 5%;
        // border: solid rgba(156, 156, 156, 0.473) 0.5px;
        width: 90%;
        height: 100%;
        @include media(desktop) {
            width: 50%;
            // height: 92vh;
        }
        .container {
            // padding-left: 7%;
            // padding-right: 7%;
            height: 100%;
            width: 100%;
            h1 {
                text-align: center;
                font-size: 1.5rem;
                text-align: center;
                color: rgb(46, 46, 46);
                padding-bottom: 1%;
            }
            h3 {
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                @include media(desktop) {
                    font-size: 20px;
                }
            }
        }
    }
}